<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @job.title %> at <%= @job.employer.name %> (posted <%= l @job.published_at %>)
    
    <%= render_marked_up_description @job.description, format: @job.description_markup %>

    <hr />

    Brought to you by code4lib jobs: <%= link_to job_url(@job), @job %>
  </body>
</html>
