<%= bootstrap_form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <%= f.text_field :title, placeholder: 'Job title *', label_class: 'sr-only' %>
      <%= f.text_field :employer_name, placeholder: 'Company name *', label: 'Company name', label_class: 'sr-only' %>

      <div class="row">
        <div class="col-md-4">
          <%= f.select :job_type, Job.job_types.keys.map { |t| [t.humanize, t] } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :location, placeholder: 'City, State, Country' %>
        </div>
        <div class="col-md-4">
          <span class="control-label">&nbsp; <!-- make the alignment work --></span>
          <%= f.check_box :telecommute, label: 'Remote / Telecommute' %>
        </div>
      </div>

      <%= f.text_area :description, rows: 15, placeholder: 'Job description *', label_class: 'sr-only' %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :tag_list, label: 'Tags', value: f.object.tag_list.join(',') %>
      <%= f.text_field :url, label: 'URL for more information' %>
      <%= f.text_area :contact, label: 'Contact information' %>

      <%= f.text_area :location %>
    </div>
  </div>
  

  <div class="actions">
    <%= f.primary %>
  </div>
<% end %>
