<%= bootstrap_form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <%= f.text_field :title %>
      <%= f.text_field :employer_name, label: 'Company name *' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.select :job_type, Job.job_types.keys.map { |t| [t.humanize, t] } %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :location %>
    </div>

    <div class="col-md-2">
      <label class="control-label hidden-sm-down">&nbsp;</label>
      <%= f.check_box :telecommute, label: 'Remote / Telecommute' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= f.text_area :description, rows: 15, data: { format: f.object.description_markup } %>
      <%= f.hidden_field :description_markup %>
    </div>
    <div class="col-md-4 pt-4">
      <%= f.text_field :url, label: 'URL for more information' %>
      <%= f.text_area :contact, label: 'Contact information', rows: 4 %>
      <%= f.text_field :tag_list, label: 'Tags', value: f.object.tag_list.join(',') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= recaptcha_tags if Settings.recaptcha %>
    </div>
  </div>


  <div class="actions">
    <%= f.primary %>
  </div>
<% end %>
