<% show_pagination = true if show_pagination.nil? %>
<%= page_entries_info jobs if show_pagination %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Posted</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% jobs.each do |job| %>
      <tr>
        <td>
          <div><%= l job.created_at.to_date %></div>
          <%= render_job_badge(job) %>
        </td>
        <td>
          <%= link_to job.title, job %>
          <div><%= link_to job.employer.name, job.employer if job.employer %></div>
          <div class="small"><%= job.location%></div>
          <div>
            <% job.tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag.name), class: 'badge badge-default' %>
            <% end %>
          </div>
        </td>
        <% if can? :manage, job %>
          <td><%= link_to 'Publish', publish_job_path(job), class: 'btn btn-primary publish', remote: true unless job.published? %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate jobs, theme: 'twitter-bootstrap-4' if show_pagination %>
