<% content_for(:head) do %>
  <%= auto_discovery_link_tag :atom, format: :atom %>
  <%= auto_discovery_link_tag(:json, jobs_url(format: 'json'), type: 'application/json') %>
<% end %>

<div class="job-header py-3 mb-3">
  <div class="container">
    <%= link_to 'Post new job', new_job_path, class: 'btn btn-primary float-right mt-3' if can? :create, Job %>
    <h1 class="display-4"><%= params[:job_type].humanize if params[:job_type] %> Jobs</h1>
  </div>
</div>

<div class="container">
  <%= render 'table', jobs: @jobs %>
</div>
