<% content_for(:head) do %>
  <%= auto_discovery_link_tag :atom, format: :atom %>
<% end %>

<p id="notice"><%= notice %></p>
<%= link_to 'New Job', new_job_path, class: 'btn btn-primary float-right' if can? :create, Job %>

<h1><%= params[:job_type].humanize if params[:job_type] %> Jobs</h1>
<%= render 'table', jobs: @jobs %>

<br>

<%= link_to 'New Job', new_job_path, class: 'btn btn-primary' if can? :create, Job %>
