<p id="notice"><%= notice %></p>

<h1><%= @job.title %></h1>
<div><%= link_to @job.employer&.name, @job.employer %> - <%= @job.location %></div>
<hr />

<div class="row">
  <div class="col-md-8">
    <%= render_marked_up_description @job.description, format: @job.description_markup %>
  </div>
  
  <div class="col-md-4">
  <p>
    <strong>Published:</strong>
    <%= l @job.published_at %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= @job.origin %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @job.url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @job.user %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @job.type %>
  </p>

  <p>
    <strong>Telecommute:</strong>
    <%= @job.telecommute %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @job.contact %>
  </p>

  <% if can? :edit, @job %>
    <%= link_to 'Edit', edit_job_path(@job) %>
  <% end %>
  </div>
</div>
