<p id="notice"><%= notice %></p>

<h1><%= @job.title %></h1>
<div><%= link_to(@job.employer.name, @job.employer) if @job.employer %> - <%= @job.location %></div>

<% if @job.employer %>
  <small><%= @job.employer.jobs.recent.where.not(id: @job.id).count %> other recent jobs</small>
<% end %>
<hr />

<div class="row">
  <div class="col-md-8">
    <%= render_marked_up_description @job.description, format: @job.description_markup %>
  </div>
  
  <div class="col-md-4">
    <p>
      <%= render_job_badge(@job) %>
    </p>

  <p>
    <strong>Telecommute:</strong>
    <%= @job.telecommute %>
  </p>
  
  <p>
    <% @job.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag.name), class: 'badge badge-default' %>
    <% end %>
  </p>

  <h3>How to apply</h3>

  <p>
    <%= link_to @job.url, @job.url %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @job.contact %>
  </p>

  <h3 class="h5">Metadata</h3>
  <p>
    <strong>Submitted by:</strong>
    <%= @job.user&.uid %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= l(@job.published_at) if @job.published_at %>
  </p>

  <% if can? :edit, @job %>
    <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
