<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employer.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employer.address %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
