

<h1><%= @employer.name %></h1>

<p>
  <%= @employer.description %>
</p>

<% if @employer.address %>
  <p>
    <strong>Address:</strong>
    <%= @employer.address %>
  </p>
<% end %>

<h2>Jobs <span class="badge badge-default"><%= @employer.jobs.count %></span></h2>
<%= render 'jobs/table', jobs: @employer.jobs.page(params[:page]) %>

<%= link_to 'Edit', edit_employer_path(@employer), class: 'btn btn-primary' %>
